.sortable_table_title {
	cursor: pointer;
}

.non_sortable_table_title {
	cursor: no-drop;
}

.fixed_width_table {
	table-layout: fixed;
}

.fixed_width_table td {
	overflow: hidden; 
	text-overflow: ellipsis;
}

.left_align_form_label {
    font-family: Tahoma,Verdana,Geneva,sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    padding: 0px 0px;
    text-align: left;
    white-space: nowrap;
    clear: both;
    color: #3E3E3E;
    width: 100px;
    vertical-align: top;
}

.regular_message {
	color: green;
}

.filter-sidebar {
	width: 100%; 
	max-width: 20em;
	min-width: 18em;
}

.remove_filter_ctrl {
	color: red;
	cursor: pointer;
}

.add_filter_ctrl {
	color: green;
	cursor: pointer;
}

.current_filter {
	color: green;
}

.current_filter_operator {
	color: black;
}

.removed_filter {
	color: black;
	text-decoration: line-through;	
}

.disable_filter_field {
	color: grey;
}


.bt-image-small { 
	background-image: url('../../ct/images/buttons/button-small.png'); 
	background-size: 100%;
	width:83px; 
	height:26px; 
	border:none; 
	color:#FFFFFF; 
	font-family: Tahoma,Verdana,Geneva,sans-serif; 
	font-size: 10px; 
	line-height: 1; 
	font-weight:bold; 
}

.bt-image-small:disabled { 
	color:grey;
}

.bt-image-medium { 
	background-image: url('../../ct/images/buttons/button-medium.png'); 
	background-size: 100%;
	width:103px; 
	height:26px; 
	border:none; 
	color:#FFFFFF; 
	font-family: Tahoma,Verdana,Geneva,sans-serif; 
	font-size: 10px; 
	line-height: 1; 
	font-weight:bold; 
}

.bt-image-medium:disabled { 
	color:grey;
}

.bt-image-long { 
	background-image: url('../../ct/images/buttons/button-long.png'); 
	background-size: 100%;
	width:133px; 
	height:26px; 
	border:none; 
	color:#FFFFFF; 
	font-family: Tahoma,Verdana,Geneva,sans-serif; 
	font-size: 10px; 
	line-height: 1; 
	font-weight:bold; 
}

.bt-image-long:disabled { 
	color:grey;
}

.thisasset {
	color: green;
}

.blocking_overlay {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index:1001;
	-moz-opacity: 0.0;
	opacity:0.0;
	filter: alpha(opacity=100);
	cursor: no-drop;
}

.popup_panel {
	display: none;
	position: absolute;
	padding: 1em;
	padding-top:0px;
	border: 2px solid black;
	z-index:1002;
	background-color: #ffffff;
	overflow: auto;
}

.popup_panel_fixed{
	display: none;
	position: fixed;
	padding: 1em;
	padding-top:0px;
	top: 50%;
	left: 50%;
	border: 2px solid black;
	z-index:1002;
	background-color: #ffffff;
	overflow: auto;
}

.popup_panel_center {
	display: none;
	position: fixed;
	padding: 1em;
	top: 50%;
	left: 50%;
	width: 320px;
	height: 120px;
	margin-left: -160px;
	margin-top: -60px;
	text-align: center;
	vertical-align: center;
	border: 2px solid black;
	z-index:1002;
	background-color: #ffffff;
	overflow: auto;
}
